[submodule "app"]
	path = app
	url = https://github.com/shopnexus/app.git
[submodule "docs"]
	path = docs
	url = https://github.com/shopnexus/docs.git
[submodule "server"]
	path = server
	url = https://github.com/shopnexus/server.git
[submodule "website"]
	path = website
	url = https://github.com/shopnexus/website.git
